---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "L'application pour réussir le concours de Sapeur-Pompier Professionnel",
} = Astro.props;
---

<!doctype html>
<html lang="fr" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title} | Casque En Mains</title>
	</head>
	<body
		class="bg-navy-900 text-white antialiased selection:bg-accent selection:text-white flex flex-col min-h-screen"
	>
		<Navbar />
		<main class="grow">
			<slot />
		</main>
		<Footer />
	</body>
</html>
